@import './../../content/css/variables.css';
.wa-forecast-item {
    @mixin flex space-between, flex-start, column;
    border-bottom: 1px solid var(--iron);
    padding: .5rem 0;
    font-size: 10px;
    h4{
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 1rem;
      color: var(--teal);
    }
    .wa-weather-data{
      width: 100%;
      .wa-weather-temperature{
        i{
          font-size: 1rem !important;
        }
      }
    }

}