@import './../../content/css/variables.css';
.wa-weather-temperature{
    @mixin flex flex-start, center, row;
    width: 50%;
    i{
        color: var(--orangepeel);
        margin-right: 1rem;
    }
}